body{
    font-family: tahoma;
}

#uploadfile{
    width:300px;
    height: auto;
    margin-left:180px;
    margin-top:0px;
}

#login-btn,#logout-btn {
    float:right;
    width:75;
    height: 35  ;
    display: inline-block;
    margin: 0px auto;
    background-color: blueviolet;
    color:white;
    margin-right: 60px;
    border:0px ;
    border-radius: 5px;
    font-family: Tahoma;
    font-size:15px;
    font-weight: bold;

}

#login-form{
        display:none;
        position:absolute;
        left:450px;
        top:100px;
        margin:0px auto;
        z-index:99;
        width:500px;
        height:250px;
      
        float:right;
        font-family:tahoma;
        margin-top:100px;
        border-radius:25px;
        box-shadow: 0px 0px 15px #888888;
        background-color:white;       
}

#login-tbl{
    width:300px;
    margin:0px auto;
    margin-top: 50px;
    
}
tr{
    height: 40px;
}

#login-btn1{
    float:right;
    width:75;
    height: 25  ;
    display: inline-block;
    background-color: blueviolet;
    color:white;
    border:0px ;
    border-radius: 5px;
    font-family: Tahoma;
    font-size:15px;
    font-weight: bold;

}
#login-description{
    margin-top:30px;
    margin-left:15px;
    
}
#xbutton{
    font-family:tahoma;
    margin-top:15px; 
    text-decoration:none;
    float:right; 
    cursor: pointer;
}
#xbutton:hover{
    opacity: 0.8;
}

th{
    width: 150px;
}
#left-panel{
    float:left;
    width:150px;
    height: 100%;
    border: 1px solid black;
    
}
#btn-upload,#btn-edit,#upload,#btn-back{
    width:150px;
    height: 30px;
    background-color: blueviolet;
    color:white;
    border:0px ;
    border-radius: 5px;
    font-family: Tahoma;
    font-size:12px;
    font-weight: bold;
    margin-top:5px;  
    clear:both;
}
#btn-upload:hover,#btn-edit:hover,#upload:hover,#btn-back:hover{
    background-color:darkviolet;    
}

#upload-question{
   display: none;
   
}
#edit-questions{
    margin-left: 300px;
    display: none;

}

#quiz{
    width:400px;
    height:500px;
    //border:1px solid black;
    margin:0 auto;
    border-radius: 5px;
    
}

#question{
    border:1px solid black;
    width:400px;
    height:100px;
    margin-top: 50px;
}
#OptionA, #OptionB, #OptionC,#OptionD{
    border:1px solid black;
    width:300px;
    height:50px;
    margin:0px auto;
}
#message{
    color:red;
}
table{

    
}
td{
    
}
#restartGame, #repeat, #startQuiz{
    width:383px;
    height:150px;
    font-size: 30px;
}


















